@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Kanit', sans-serif;
    scroll-behavior: smooth;
  }
  html.light {
    --text-colour: black;
    --background-colour: white;
    color: var(--text-colour);
    background-color: var(--background-colour);
  }

  html.dark {
    --text-colour: white;
    --background-colour: black;
    color: var(--text-colour);
    background-color: var(--background-colour);
  }
}
